[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ninja = "~=1.1"
django-typer = { version = "~=2.1", extras = ["rich"] }
# Task Queue
huey = "~=2.5"
redis = { version = "~=5.0", extras = ["hiredis"] }
# Settings
pydantic_settings = "~=2.3"
# Other
blake3 = "*"
orjson = "*"
typing_extensions = { version = "*", markers="python_version < '3.11'"}
imagehash = "*"
simpleiso3166 = { version = "*", extras = ["search"] }
# Server
granian = "*"
# Investigate
# iso8601 = "*"
# aniso8601 = "*"

[dev-packages]
# Testing
pytest = "*"
pytest-asyncio = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-env = "*"
pytest-xdist = "*"
pytest-randomly = "*"
coverage = "*"
faker = "*"
# Maybe replace faker, but doesn't support pytest 8
# mimesis = { version = "~=17.0", extras = ["pytest"] }
# Linting
black = "*"
ruff = "*"
codespell = "*"
# Typing
mypy = "*"
django-stubs = {version = "*", extras = ["compatible-mypy"]}
types-Pillow = "*"
