[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ninja = "*"
django-ninja-crud = "*"
django-treebeard = "*"
# Task Queue
taskiq = "*"
taskiq-redis = "*"
redis = { version = "*", extras = ["hiredis"] }
# Other
blake3 = "*"
orjson = "*"
# Server
granian = "*"
# Investigate
iso8601 = "*"
aniso8601 = "*"

[dev-packages]
# Testing
pytest = "*"
pytest-asyncio = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-env = "*"
coverage = "*"
faker = "*"
# Linting
black = "*"
ruff = "*"
# Typing
mypy = "*"
django-stubs = {version = "*", extras = ["compatible-mypy"]}
types-Pillow = "*"
