<div class="row">
  <div class="col-xs-12">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <li class="list-group-item">
        <a style="cursor: pointer"> Something goes here </a>
      </li>
      <li class="list-group-item" *ngFor="let currentIngredient of this.ingredients">
        <a>
          {{ currentIngredient.name }}
          <span class="badge text-bg-secondary">{{ currentIngredient.amount }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
