<div class="row">
  <div class="col-xs-12">
    <app-shopping-edit (newItemAdded)="this.newItemAdded($event)"></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <li class="list-group-item">
        <a style="cursor: pointer">
          <h5 class="mb-1">List group item heading</h5>
        </a>
      </li>
      @for (currentIngredient of this.ingredients; track currentIngredient) {
        <li class="list-group-item">
          <a>
            {{ currentIngredient.name }}
            <span class="badge text-bg-secondary">{{ currentIngredient.amount }}</span>
          </a>
        </li>
      }
    </ul>
  </div>
</div>
