<div class="row">
  <div class="col-sm-12">
    <img
      src="{{ this.detailedRecipe.imagePath }}"
      alt="{{ this.detailedRecipe.name }}"
      class="img-thumbnail" />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{ this.detailedRecipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add ingredients to shopping list</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">{{ this.detailedRecipe.description }}</div>
</div>
<div class="row">
  <div class="col-sm-12">TODO</div>
</div>
