<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px">
  <span class="fs-4">ScanSteward</span>
  <hr />
  <div class="sticky-top">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/home"
          routerLinkActive="active"
          aria-current="page">
          <i class="bi bi-house-fill"></i>
          Home
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/images" routerLinkActive="active">
          <i class="bi bi-images"></i>
          Images
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/people" routerLinkActive="active">
          <i class="bi bi-people-fill"></i>
          People
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/locations" outerLinkActive="active">
          <i class="bi bi-pin-map-fill"></i>
          Locations
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/dates" routerLinkActive="active">
          <i class="bi bi-calendar3"></i>
          Dates
        </a>
      </li>
    </ul>
  </div>
  <hr />

  <div class="align-bottom">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/settings"
          routerLinkActive="active"
          aria-current="page">
          <i class="bi bi-gear-fill"></i>
          Settings
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/me" outerLinkActive="active">
          <i class="bi bi-file-person"></i>
          Profile
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/logout" routerLinkActive="active">
          <i class="bi bi-box-arrow-right"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
